html,
body,
div#mainColumn.column,
section.is-three-quarters-desktop,
.github-markdown-content,
.markdown-content {
  min-width: 100% !important;
  max-width: 100% !important;
  width: 100% !important;
}
